<table datatable [dtOptions]="dtOptions" class="row-border hover box-shadow">
   <ng-container *ngIf="data.length > 0">
        <thead [ngStyle]="thStyles">
            <tr>
                <th *ngFor="let h of header" [ngStyle]="thItemsStyles">{{ h }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
                <td *ngFor="let i of item | keyvalue: originalOrder">
                    <ng-container *ngIf="i.key !== 'tools'">
                        {{ i.value }}
                    </ng-container>
                    <ng-container *ngIf="i.key === 'tools'">
                        <div *ngFor="let t of $any(i.value)" (click)="toolsActions(t.action, item)" [ngStyle]="{'cursor': 'pointer'}">
                            <mat-icon matSuffix>{{ t.icon }}</mat-icon>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </tbody>
   </ng-container>
</table>
<div *ngIf="data.length <= 0" class="notFoundText">
    <h4>{{ notFoundText }}</h4>
</div>
<ng-container *ngIf="data.length > 0">
    <div class="pagination">
        <pagination-controls 
            [previousLabel]="'Anterior'"
            [nextLabel]="'Siguiente'" 
            (pageChange)="pageChange($event)">
        </pagination-controls>
    </div>
</ng-container>