<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let item of data | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }"
        >
            <td>{{ item.id }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.id }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
          <td>
            <pagination-controls
              [previousLabel]="'Anterior'"
              [nextLabel]="'Siguiente'"
              (pageChange)="pageChange($event)"></pagination-controls>
          </td>
        </tr>
       </tfoot>
</table>