.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;	
}
img {
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
p{
    font-family: 'BOLD';
    text-align: center;
    font-size: 14px;				
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 25px;
}
form {
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
	-webkit-box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
	-moz-box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
	-o-box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
    margin: 0 auto;
    display: block;
    transform: translateY(50%);
}
.input {
    background-color: white !important;
    width: 100%;
}
.icon-recover {
    margin-bottom: 20px;
}
img {
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.otp{
    text-align: center !important;
}