/* VARIABLES */
:root {
    --white: #f3f3f3;
    --black: #242424;
    --success: #61F2C1;
    --danger: #c8232c;
    --info: #2F81BD;
    --warning: #FECA40;
    --gray: #424242;
}
/* FONTS */
@font-face {
    font-family: 'BOLD';
    src: url('assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'SEMI-BOLD';
    src: url('assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'REGULAR';
    src: url('assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'MEDIUM';
    src: url('assets/fonts/Montserrat-Medium.ttf');
}
body{
    overflow-x: hidden;
    font-family: 'REGULAR';
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'BOLD';
}
.btn-success {
    background-color: var(--success) !important;
    font-family: 'BOLD';
}
.btn-danger {
    background-color: var(--danger) !important;
    font-family: 'BOLD';
}
.btn-warning {
    background-color: var(--warning) !important;
    font-family: 'BOLD';
}
.btn-info {
    background-color: var(--info) !important;
    font-family: 'BOLD';
}
html, body { height: 100%; }

.text-success {
    color: var(--success) !important;
}
.text-danger {
    color: var(--danger) !important;
}
.text-info {
    color: var(--info) !important;
}
.text-warning {
    color: var(--warning) !important;
}
.mat-button-disabled{
   font-family: 'REGULAR';
}